HS_ALL_TEST_SET
largeTestfile
.venv
node_modules
__pycache__
HateSpeechAnnotator.egg-info
hub/__pycache__/models.cpython-39.pyc
hub/__pycache__/resources.cpython-39.pyc
developmentHateSpeech.db
data/~$HS_ALL_TEST_SET.xlsx
hub/__pycache__/models.cpython-39.pyc
hub/__pycache__/models.cpython-39.pyc
hub/__pycache__/resources.cpython-39.pyc
hub/__pycache__/utils.cpython-39.pyc
hub/__pycache__/api_routes.cpython-39.pyc
hub/__pycache__/resources.cpython-39.pyc
hub/__pycache__/utils.cpython-39.pyc
developmentHateSpeech.db
developmentHateSpeech.db
hub/__pycache__/api_routes.cpython-39.pyc
hub/__pycache__/models.cpython-39.pyc
hub/__pycache__/resources.cpython-39.pyc
hub/__pycache__/utils.cpython-39.pyc
*.db
*.xlsx
data/HS_ALL_TEST_SET.xlsx
*.xlsx
data/HS_ALL_TEST_SET.xlsx
*.xlsx
data
