/* Meria's Annotator for Social Media Texts
// University of Oulu
// Created by Merja Kreivi-Kauppinen (2021-2022)

// Social-Media-Text-Annotator/HateSpeechAnnotator API admin.js */

/* Don't touch below --------------------------------- */

form label {
    font-weight: normal;
    display:block;/*Necessary for the first letter*/
}

form label:first-letter{
    text-transform: uppercase;
}

.linkbar { font-size: 20px; }

#file-input {
    display: none;
}

/* Don't touch above ----------------------------------- */

body {
    background-color: #F8F5F0;
}

/* Split the login screen in half */
.usermetaform {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
/* #3E3F3A; */
.left {
    left: 10 px;
    background-color: #8E8C84;
    padding: 60px;
    color: white;
    font-weight: 300;
}

/* Control the right side */
.right {
    right: 0;
    background-color: #F8F5F0;
    width: 40%;
    padding: 60px;
}

.middleBottom {
    right: 10 px;
    left: 10 px;
    height: 30%;
    width: 90%;
    position: fixed;
    background-color: #E9F3DB;
    padding-bottom: 10 px;
}


.carousel-inner img {
    margin: auto;
  }

.col-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textTable-component {
    position: relative;
    text-align: left;
    vertical-align: middle
}

.textTable-header{
    margin-top: 40px;
    margin-bottom: 10px;
}